.rebuild-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: rgb(225, 218, 218);
  background-color: rgb(209, 121, 121);
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}

.rebuild-modal {
  background-color: rgb(209, 121, 121);
  margin-top: 10rem;
}
.rebuild-modal div {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .blue-light-container {
    top: 5px;
    left: 5px;
    height: 50px;
    width: 50px;
  }
  .blue-light {
    height: 40px;
    width: 40px;
  }
  .light-reflection {
    height: 10px;
    width: 10px;
  }
  .rebuild-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
  }
}
